<!DOCTYPE html>
<html>
<head>
    <title>Create Object</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Create Object</h1>
    <form id="object-form">
        <input type="text" id="name-input" placeholder="Name">
        <button type="submit">Create</button>
    </form>
    <ul id="object-list">
        {% for obj in objects %}
            <li>
                {{ obj[1] }}
                <input type="text" class="update-input" data-id="{{ obj[0] }}" placeholder="Update text">
                <button class="update-btn" data-id="{{ obj[0] }}">Update</button>
                <button class="delete-btn" data-id="{{ obj[0] }}">Delete</button>
            </li>
        {% endfor %}
    </ul>
</body>
</html>