<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div>
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>

    <div>
        <h1>Register</h1>
        <form method="POST" action="{{ url_for('register') }}">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required autocomplete="current-password">

            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
    
</body>
</html>
