
<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
    <!-- Add your CSS and other meta tags here if needed -->
     <!-- Add Bootstrap CSS link -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" href="{{ url_for('login') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
</nav>
    <div class="container">
        <h1>Logout Successful</h1>
        <p>You have been logged out successfully.</p>
        <p>Thank you for using our service!</p>
        <p><a href="/login">Click here to log in again</a></p>
    </div>
    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>